@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  background-image: url("imgs/madera.png");
  display: flex;
  font-family: "Patrick Hand", cursive;
}

.contenedor-libro-cerrado {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.contenedor-libro-cerrado > p {
  margin-bottom: 3%;
}

.contenedor-libro-cerrado > p > a {
  color: #e076c2;
}

.contenedor-libro-cerrado img {
  position: absolute;
  width: 45%;
  z-index: -1;
}

.boton-primario {
  color: #e076c2;
  font-size: 1.5em;
  border: 2px solid #e076c2;
  padding: 10px 40px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  width: max-content;
}

.boton-primario:hover {
  color: #9f3581;
  border: 2px solid #9f3581;
}

.boton-secundario {
  color: #7d8992;
  font-size: 1.5em;
  padding: 10px 40px;
  border-radius: 10px;
  transition: 0.3s;
  width: max-content;
  cursor: pointer;
}

.boton-secundario:hover {
  color: #3e4a52;
}

.input {
  border-bottom: white solid 1px;
  font-size: 1.2em;
  color: white;
  display: flex;
}

.input input {
  background-color: transparent !important;
  border: none;
  width: 100%;
  outline: none;
  color: white;
  margin-left: 2%;
  font-family: "Patrick Hand", cursive;
  font-size: 1em;
}

.contenedor-formulario {
  display: flex;
  height: 35%;
  width: 30%;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10%;
}

.contenedor-formulario h3 {
  color: white;
  font-size: 2.5em;
  margin: 0;
}

.contenedor-libro-abierto {
    background-image: url("imgs/LibroAbierto.png");
    background-size:cover;
    background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

.contenedor-libro-abierto > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.contenedor-tags {
  display: flex;
  flex-direction: column;
  width: 13%;
  margin-top: 10%;
}

.contenedor-tags img {
    cursor: pointer;
}

.contenedor-tags img:hover {
   background-color: rgba(0, 0, 0, 0.109);
}
